.parent {
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
    padding: 1rem;
}

.firstchild{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
}

#mmimage{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;

}

.paragraph{
    font-size: 0.8rem;
    color: rgb(115, 115, 115);
}

.media{
    font-size: 0.8rem;
    color: var(--dark-mode-text);
}

.borderlessbutton{
    color: blue;
}



.secondchild{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    margin-top: 1rem;
}